body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    height: 40px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
    font-weight: 700;
    margin-right: auto;
    margin-left: 20px;
}

.subtext,
a {
    text-decoration: none;
    color: #e5e7eB;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec {
    height: 500px;
    display: flex;
}

.intro {
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 230px;
    width: 410px;
}

.maintext {
    color: #f9faf8;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}

button {
    height: 30px;
    width: 100px;
}

.left button {
    background-color: #3882f6;
    color: #e5e7eB;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 10px;

}

.mainimage {
    height: 300;
    width: 500;
}

img {
    height: 230px;
    width: 410px;
    border-radius: 12px;
}


.infoimg {
    height: 100px;
    width: 100px;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
}

.sec.info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infotitle {
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.infocontainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: baseline;
}


.infobox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infotext {
    max-width: 100px;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}



.infoimgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 104px;
    margin: 15px;
    padding: 0px;
    border: #3882f6 3px solid;
    border-radius: 16px;
   
}


.sec.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quotetext {
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.Author {
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    width: 800px;
    
}
