body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    height: 40px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
    font-weight: 700;
    margin-right: auto;
    margin-left: 20px;
}

.subtext,
a {
    text-decoration: none;
    color: #e5e7eB;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec {
    height: 320px;
    display: flex;
}

.intro {
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 230px;
    width: 410px;
}

.maintext {
    color: #f9faf8;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}

button {
    height: 30px;
    width: 100px;
}

.left button {
    background-color: #3882f6;
    color: #e5e7eB;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 10px;

}

.mainimage {
    height: 300;
    width: 500;
}

img {
    height: 230px;
    width: 410px;
}



